.favoriteCities-main__container {
  padding: 130px 0 0 0;
  text-align: center;
}

.favoriteCities-main__textEmpty {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.favoriteCities-main__list-cities{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.favoriteCities-main__textListCities{
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}