.geolocationCity-main {
  position: relative;
}

.geolocationCity-main__block {
  position: relative;
  padding: 150px 0 0 0;
}

.headerCity {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}
